@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --background: red;
  --foreground: blue;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --background: yellow;
    --foreground: green;
  }
}

@theme {
  --breakpoint-xs: 30rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Outfit, Arial, Helvetica, sans-serif;
}

.no-scrollbar {
  -ms-overflow-style: none;     
  scrollbar-width: none;       
}
.no-scrollbar::-webkit-scrollbar {
  display: none;                
}